@import url('https://fonts.googleapis.com/css2?family=Playwrite+India+Guides&family=Roboto+Slab:wght@300;400;600&display=swap');


:root {
  --color1: #4b538b;
  --color2: #15191d;
  --color3: #f7a21b;
  --color4: #e45635;
  --color5: #d60257;

  --font-title: 'Playwrite India Guides', cursive;
  --font-text: 'Roboto Slab', serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color2);
  color: #fff;
  font-family: var(--font-text);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
